@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open Sans&display=swap');


body,
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

header {
    background: #0A2640;
    color: #fff;
    width: 100%;
    height: 567px;
}

nav {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

nav span {
    display: flex;
    align-items: center;
}

/* nav img {
    width: 20px;
} */

nav h1 {
    width: 125px;
    margin-left: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans';
}

nav ul button {
    border: none;
    border-radius: 24px;
    padding: 8px 40px;
    font-weight: 600;
    font-family: 'Open Sans';
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px auto;
    gap: 40px;
    width: 567px;
    height: auto;
}

.hero h2 {
    font-family: "Manrope";
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

.hero p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}


.btn-group {

    margin: 0 auto;
}

.btn-group button:nth-child(1) {
    background: #69E6A6;
    border-radius: 56px;
    padding: 16px 56px;
    font-weight: 600;
    cursor: pointer;
}

.btn-group button:nth-child(2) {
    background: transparent;
    color: #fff;
    font-weight: 600;
    border-radius: 56px;
    padding: 16px 56px;
    border: 2px solid #fff;
    cursor: pointer;
}

.content {
    /* background: #a3dbbe; */
    width: 1020px;
    height: 30px;
    margin: 0 auto;
}

.heading {
    /* background: palevioletred; */
    margin: 0 auto;
    padding: 40px 0;
    width: 700px;
    height: auto;
    text-align: center;
}

.heading p {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
}

.heading h3 {
    font-family: "Manrope";
    font-size: 40px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0em;
}

.all-services {
    display: flex;
    justify-content: space-around;
}


.card {
    width: 20%;
}

.card img {
    width: 100%;
}

.container h4 {
    font-weight: 500;
    padding: 10px 0;
}

.container p {
    opacity: 0.5;
}

#btn-card {
    padding-top: 20px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}


.other-services {
    margin-top: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.other-services img {
    width: 400px;
}

.txt {
    /* background: forestgreen; */
    margin-left: 90px;
    margin-top: 50px;
}

.other-services button {
    background: #0A2640;
    color: #fff;
    padding: 16px 56px;
    border-radius: 56px;
    margin-top: 40px;
}

.txt h3 {
    font-family: "Manrope";
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}

.other-services ul {
    list-style-type: none;
    margin-top: 30px;
}

.other-services li {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 0;
}

.second_services {
    margin-top: 60px;
    flex-direction: row-reverse;
}

.second_services li {
    background-color: #0A2640;
    margin: 20px 0;
    width: 500px;
    padding: 10px 10px;
    color: #fff;
    border-radius: 4px;
}

.second_services li:nth-child(2) {
    background-color: #fff;
    color: #000;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.second_services li:nth-child(3) {
    background-color: #fff;
    color: #000;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.team {
    background: #0A2640;
    width: 100%;
    height: auto;
    color: #fff;
    margin-top: 1900px;
    padding: 40px;
}

.team .items {
    width: 80%;
    margin: 10px auto;
    padding: 10px 15px;
    /* background: #69E6A6; */
}

.team .items {
    font-family: "Manrope";
    font-size: 30px;
    font-weight: 400;
}

.team-card {
    /* background: #69E6A6; */
    display: flex;
}

.team-card .card {
    width: 250px;
    height: auto;
    border-radius: 12px;
    margin: 0 5px;
    padding: 15px;
    background: #fff;
    color: #000;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    /* background: rebeccapurple; */
}

.team-card .card p {
    font-size: 16px;
    width: auto;
    height: auto;
    /* background: red; */
}

.team-card .infos {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.team-card .infos img {
    height: 36px;
    width: 36px;
}

.info-member h4 {
    color: #0A2640;
    font-weight: bolder;
}

.info-member {
    font-size: 16px;
    margin-left: 10px;
    justify-content: space-between;
}

.custommers {
    width: 1020px;
    /* background: #69E6A6; */
    margin: 20px auto;
}

.custommers img {
    width: 100%;

}

.custommers .details {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.custommers .details ul {
    list-style-type: none;
    margin-right: 41px;
}

.custommers .details p {
    /* background: rebeccapurple; */
    width: 400px;
    font-size: xx-large;
}

.details li {
    padding: 20px 0;
    border-bottom: 1px solid rgb(219, 216, 216);
}


.blog {
    margin-top: 60px;
}

.blog h3 {
    text-align: center;
    font-weight: 100;
    color: rgb(166, 167, 167);
}

.blog p {
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}

.all-posts {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.post {
    width: 200px;
    height: auto;
}


.post p {
    font-weight: 200;
    font-size: small;
    color: #0A2640;
}

.author {
    display: flex;
    justify-content: space-evenly;
}

.author img {
    width: 36px;
    height: 36px;
}

.author p {
    margin-bottom: 0;
    margin-top: 11px;
}

.btn-load {
    margin-top: 30px;
    margin-left: 461px;
}

.btn-load button {
    border: 2px solid #0A2640;
    background: #fff;
    padding: 16px 56px;
    border-radius: 56px;
}

.contact {
    background: #0A2640;
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    border-radius: 12px;
}


.contact .contenu {
    /* background: #69E6A6; */
    width: 60%;
    margin: 0 auto;
}

.contact .contenu h4 {
    font-size: 50px;
}

.form {
    padding-bottom: 40px;
}

.form input {
    height: 36px;
    border: none;
    padding: 0 20px;
    width: 260px;
    border-radius: 240px;
}

.form button {
    background: #69E6A6;
    padding: 10px 56px;
    border-radius: 56px;
}